 <!-- global nav area -->
  <nav class="navbar navbar-inverse global-nav" role="navigation" aria-label="Hub Navigation">
    <div class="global-nav-inner">
      <button class="navbar-toggle global-nav-menu" data-toggle="collapse" data-target="#global-navigation">
        <span class="sr-only">Toggle GIS hub navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 class="global-nav-title">
          <a href="/">GIS Data </a>
      </h1>
    </div>
    <div class="collapse" id="global-navigation">
        <div class="navbar global-nav-link-container">
          <ul class="list-unstyled global-nav-links global-nav-list-desktop"> <!-- desktop nav -->

            <li><a href="https://gis.ny.gov/">NYS GIS Clearinghouse</a></li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button">Coordination <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://gis.ny.gov/coordination-program">Overview</a></li>
                    <li><a href="https://gis.ny.gov/geospatial-advisory-council">Geospatial Advisory Council</a></li>
                    <li><a href="https://gis.ny.gov/state-agency-advisory-group">State Agency Advisory Group</a></li>
                    <li><a href="https://gis.ny.gov/data-sharing-cooperative">Data Sharing Cooperative</a></li>
                    <li><a href="https://gis.ny.gov/gis-organizations">GIS Organizations</a></li>
                    <li><a href="https://whoswho.gis.ny.gov/whoswho/">GIS Who's Who</a></li>
                </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button">Data Programs <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://gis.ny.gov/parcels">Parcels</a></li>
                    <li><a href="https://gis.ny.gov/streets-addresses">Streets & Addresses</a></li>
                    <li><a href="https://gis.ny.gov/orthoimagery">Orthoimagery</a></li>
                    <li><a href="https://gis.ny.gov/elevation">Elevation</a></li>
                    <li><a href="https://gis.ny.gov/civil-boundaries">Civil Boundaries</a></li>
                    
                </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button">Enterprise GIS<span class="caret"></span></a>
                <ul class="dropdown-menu">
                     <li><a href="https://gis.ny.gov/sharegis">ShareGIS</a></li>
                </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button">Agency GIS<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="https://gis.ny.gov/gis-nys-agencies">GIS at NYS Agencies</a></li>
                  <li><a href="https://gis.ny.gov/public-safety-gis-program">Public Safety GIS</a></li>
                  
                </ul>
            </li>

            <li><a href="https://gis.ny.gov/frequently-asked-questions">FAQs</a></li>
            <li><a href="https://gis.ny.gov/about-us">About Us</a></li>

          </ul>

          <ul class="list-unstyled global-nav-links global-nav-list-mobile"> <!-- mobile/tablet nav -->

            <li><a href="https://gis.ny.gov/">NYS GIS Clearinghouse</a></li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button">Coordination <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://gis.ny.gov/coordination-program" data-toggle="collapse" data-target="#global-navigation">Overview</a></li>
                    <li><a href="https://gis.ny.gov/geospatial-advisory-council" data-toggle="collapse" data-target="#global-navigation">Geospatial Advisory Council</a></li>
                    <li><a href="https://gis.ny.gov/state-agency-advisory-group" data-toggle="collapse" data-target="#global-navigation">State Agency Advisory Group</a></li>
                    <li><a href="https://gis.ny.gov/data-sharing-cooperative" data-toggle="collapse" data-target="#global-navigation">Data Sharing Cooperative</a></li>
                    <li><a href="https://gis.ny.gov/gis-organizations" data-toggle="collapse" data-target="#global-navigation">GIS Organizations</a></li>
                    <li><a href="https://whoswho.gis.ny.gov/whoswho/" data-toggle="collapse" data-target="#global-navigation">GIS Who's Who</a></li>
                </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button">Data Programs  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://gis.ny.gov/parcels" data-toggle="collapse" data-target="#global-navigation">Parcels</a></li>
                    <li><a href="https://gis.ny.gov/streets-addresses" data-toggle="collapse" data-target="#global-navigation">Streets & Addresses</a></li>
                    <li><a href="https://gis.ny.gov/orthoimagery" data-toggle="collapse" data-target="#global-navigation">Orthoimagery</a></li>
                    <li><a href="https://gis.ny.gov/elevation" data-toggle="collapse" data-target="#global-navigation">Elevation</a></li>
                    <li><a href="https://gis.ny.gov/civil-boundaries" data-toggle="collapse" data-target="#global-navigation">Civil Boundaries</a></li>
                    
                </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button">Enterprise GIS <span class="caret"></span></a>
                <ul class="dropdown-menu">
                     <li><a href="https://gis.ny.gov/sharegis" data-toggle="collapse" data-target="#global-navigation">ShareGIS</a></li>
                </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button">Agency GIS <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="https://gis.ny.gov/gis-nys-agencies" data-toggle="collapse" data-target="#global-navigation">GIS at NYS Agencies</a></li>
                  <li><a href="https://gis.ny.gov/public-safety-gis-program" data-toggle="collapse" data-target="#global-navigation">Public Safety GIS</a></li>
                </ul>
            </li>

            <li><a href="https://gis.ny.gov/frequently-asked-questions" data-toggle="collapse" data-target="#global-navigation">FAQs</a></li>
            <li><a href="https://gis.ny.gov/about-us" data-toggle="collapse" data-target="#global-navigation">About Us</a></li>

          </ul>

        </div>
    </div>
  </nav>